body {
  background-color: lightcayn;
}

.navBar {
  height: 100vh;
}
.logoSpace {
  align: center;
}
.allIcons {
  display: grid;
  grid-template-rows: 35% 35% 35% 35% 35%;
}
.pfp {
}

.logo {
  font-family: "Brush Script Mt", Lucida Handwriting, cursive;
  color: white;
  padding: 10px 10px 10px 10px;
  font-size: 30px;
}

.bigLogo {
  font-size: 50px;
  padding: 0px 10px 0px 10px;
}

.button {
  width: 120px;
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  border: 2px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  vertical-align: baseline;
}

.editProfile {
  background-color: #0066cc;
}

.signupButton {
  background-color: #0066cc;
}

.loginButton {
  background-color: #0066cc;
}

.logoutButton {
  background-color: #dc143c;
}

/* NAVBAR*/
.navBar {
  background-color: black;
  width: 50px;
  bottom: -50px;
}

.navBarIcons {
  color: white;
}

.homeButton {
}

.profileButton {
  width: 35px;
  border-radius: 50%;
}

body {
  background-color: rgb(60, 60, 60);
}

/* PROFILE PAGE*/
.profilePage {
  height: 100vh;
}

.profilePageContents {
  width: 84%;
  height: 85%;
  background-color: black;
  position: relative;
  left: 30px;
  border-radius: 20px;
  margin: 20px 50px 50px 50px;
  padding: 30px 20px 30px 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}

.allProfileDetials {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px 80px;
}

.profileSummary {
  display: grid;
  grid-template-columns: 100px 150px 150px 100px;
  grid-row-gap: 30px;
  align-items: left;
}

.profileDiv {
  display: flex;
  align-items: stretch;
}

.pfpDiv {
  position: relative;
  align-item: center;
}
.pfp {
  position: relative;
  left: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
}

.userId {
  font-size: 20px;
  padding-top: 6px;
}

.settingsButton {
  display: flex;
  padding-top: 2px;
}

.userStats {
  display: grid;
  grid-template-columns: repeat(3, 10px);
  grid-column-gap: 100px;
}

.nameAndBio {
  position: relative;
  left: 25%;
  display: grid;
  grid-row-gap: 10px;
  align-items: center;
}

.userBio {
  color: white;
  background-color: rgb(80, 80, 80);
  width: 500px;
  height: 100px;
  border-radius: 5px;
  border: 10px;
  font-size: 17px;
}

.postsSpace {
  text-align: center;
}

.textField {
  width: 320px;
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  border-color: grey;
  border: 2px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  text-align: center;
  vertical-align: baseline;
}

.loginCard {
  position: absolute;
  top: 50%%;
  left: 25%;
  transform: translate(50%, 50%);
  display: grid;
  place-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 500px;
  justify-content: center;
  padding: 0px 20px 50px 20px;
}

.signUpCard {
  position: absolute;
  top: 25%;
  left: 50%;
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 550px;
  justify-content: center;
  padding: 0px 20px 90px 20px;
}

.loginElement {
  margin-bottom: 20px;
}

.signUpElement {
  margin-bottom: 20px;
}

.titleLabel {
  color: white;
  margin-bottom: 20px;
}

.linksSpace {
  padding-bottom: 10px;
}

.link {
  color: white;
}

/* MESSAGES PAGE*/

.messagePageBox {
  margin: 20px 50px 50px 50px;
  height: 100vh;
}

.messagesPageBoxContents {
  margin-color: white;
  width: 1220px;
  display: grid;
  height: 90%;
  grid-template-columns: 400px 1300px;
  background-color: black;
  border-radius: 20px;
}

.messagesListColumn {
  border-right: 4px solid rgb(45, 45, 45);
}
.chatBox {
}

.messagesListColumnHead {
  padding: 0px 30px 0px 40px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70px;
  border-bottom: 4px solid rgb(45, 45, 45);
}
.chatBoxHead {
  padding: 0px 30px 0px 30px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 70px;
  border-bottom: 4px solid rgb(45, 45, 45);
}

.chatBoxBody {
  height: 730px;
  vertical-align: middle;
}

.messageTypingFieldSpace {
  text-align: center;
  vertical-align: middle;
}

.messageInputField {
  margin-top: 7px;
  width: 90%;
  height: 60px;
  border-radius: 50px;
  border-color: rgb(45, 45, 45);
  border: 2px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid grey;
  background-color: rgb(45, 45, 45);
}
