body {
  /* background-color: rgb(30, 30, 30); */
  background-color: rgb(60, 60, 60);
}
.full-page {
  display: grid;
  grid-template-columns: 200px 500px;
}

.button {
  width: 135px;
  height: 42px;
  padding: 5px;
  border-radius: 8px;
  border: 2px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  vertical-align: baseline;
  background-color: #0066cc;
}

/*NABVAR*/
.navBar {
  height: 100vh;
  text-align: center;
  background-color: black;
  width: 200px;
  margin: 0px 20px 0px 0px;
  color: white;
}

.logoSpace {
  align: center;
}
.allIcons {
  display: grid;
  grid-template-rows: 35% 35% 35% 35% 35%;
  gap: 50px;
}

/* .navBarItem :hover {
  background-color: rgb(15, 15, 15);
} */

.navBarItem {
  display: grid;
  grid-template-columns: 10% 80%;
  align-items: center;
}

.navBarItem p {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 17px;
}

.pfp {
}

.navBar h1 {
  font-family: "Brush Script Mt", Lucida Handwriting, cursive;
  color: white;
  padding: 10px 10px 10px 10px;
  font-size: 30px;
}

.navBarIcon {
  color: white;
  width: 50px;
}

.profileButton {
  width: 35px;
  border-radius: 50%;
}

/* PROFILE PAGE*/
/* PROFILE PAGE*/
/* PROFILE PAGE*/
/* PROFILE PAGE*/
/* PROFILE PAGE*/

.profilePageContents {
  color: white;
  position: relative;
  left: 300px;
  width: 600px;
  height: 90vh;
  margin: 40px 20px 40px 0px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  background-color: black;
}

.allProfileDetials {
  margin: 50px 10px 20px 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px 80px;
}

.profileSummary {
  display: grid;
  grid-template-columns: 100px 150px 150px 100px;
  grid-row-gap: 30px;
  align-items: left;
  color: white;
}

.profileDiv {
  display: flex;
  align-items: stretch;
}

.pfpDiv {
  position: relative;
  align-item: center;
  margin-left: 30px;
  width: 150px;
  height: 150px;
}
.pfp {
  position: relative;
  left: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: grey;
  text-align: center;
}

.userId {
  font-size: 20px;
  padding-top: 6px;
}

.settingsButton {
  display: flex;
  padding-top: 2px;
}

.userStats {
  display: grid;
  grid-template-columns: repeat(3, 10px);
  grid-column-gap: 100px;
}

.nameAndBio {
  color: white;
  position: relative;
  left: 25%;
  display: grid;
  grid-row-gap: 10px;
  align-items: center;
}

.userBio {
  color: white;
  background-color: rgb(30, 30, 30);
  width: 500px;
  height: 100px;
  border-radius: 5px;
  border: 10px;
  font-size: 17px;
}

.postsSpace {
  text-align: center;
  color: white;
}

.textField {
  width: 320px;
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  border-color: white;
  border: 2px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  text-align: center;
  vertical-align: baseline;
}

.editProfile {
  background-color: #0066cc;
}

.signupButton {
  background-color: #0066cc;
}

.loginButton {
  background-color: #0066cc;
}

.logoutButton {
  background-color: #dc143c;
}

/*AUTHENTICATION*/
/*AUTHENTICATION*/
/*AUTHENTICATION*/
/*AUTHENTICATION*/
/*AUTHENTICATION*/
/*AUTHENTICATION*/

.form {
  color: white;
  position: relative;
  top: 50px;
  z-index: 1;
  border-radius: 20px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 600px;
  padding: 0px 20px 50px 20px;
  display: grid;
  place-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}

.form h1 {
  font-size: 50px;
  padding: 0px 10px 0px 10px;
  color: white;
  font-family: "Brush Script Mt", Lucida Handwriting, cursive;
}

.form input {
  text-align: left;
}

.form button {
  width: 330px;
}
.form h2 {
  font-size: 40px;
  color: white;
}

.loginElement {
  margin-bottom: 20px;
}

.signUpElement {
  margin-bottom: 20px;
}

.titleLabel {
  color: white;
  margin-bottom: 20px;
}

.linksSpace {
  padding-bottom: 10px;
}

.link {
  color: white;
}

/* MESSAGES PAGE*/
/* MESSAGES PAGE*/
/* MESSAGES PAGE*/
/* MESSAGES PAGE*/
/* MESSAGES PAGE*/
/* MESSAGES PAGE*/

.main-page {
  position: relative;
  left: 350px;
  color: white;
  display: flex;
  place-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  margin: 40px 20px 40px 0px;
}

.Page-Box-Contents {
  display: grid;
  height: 90vh;
  grid-template-columns: 1fr 3fr;
  background-color: black;
  border-radius: 5px;
}

.messages-List-Column {
  border-right: 0.5px solid white;
  width: 400px;
}

.messages-List-ColumnHeader {
  height: 50px;
}

.messages-List-Div {
  height: 670px;
  overflow: auto;
}

.messages-List-ColumnHeader {
  padding: 0px 30px 0px 40px;
  align-items: center;
  text-align: center;
  height: 50px;
  border-bottom: 1px solid white;
}

.chat-Box {
  display: grid;
  width: 750px;
}

.chat-Box-Header {
  padding: 0px 30px 0px 30px;
  display: flex;
  border-bottom: 1px solid white;
  place-content: center;
  align-items: center;
  height: 69px;
}

.chat-box-body {
  height: 520px;
  vertical-align: middle;
  overflow: scroll;
}

.chat-BoxFooter {
  vertical-align: middle;
  margin: 10px 10px 10px 10px;
  display: flex;
  place-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  gap: 10px;
}

.message-input-field {
  position: relative;
  margin-top: 7px;
  margin-left: 7px;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  border-color: white;
  border: 1px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 19px;
  color: white;
  text-align: left;
  padding-left: 60px;
  padding-right: 30px;
  border: 1px solid grey;
  background-color: rgb(45, 45, 45);
}

.send-icon {
  position: relative;
}

.emojiButton {
  position: relative;
}
.uploadImgIcon {
  position: relative;
}

/*RECENT CHAT MESSAGE CARD*/
/*RECENT CHAT MESSAGE CARD*/
/*RECENT CHAT MESSAGE CARD*/
/*RECENT CHAT MESSAGE CARD*/
.recentChat {
  color: white;
  padding: 3px 2px 3px 2px;
  height: 80px;
  border-color: white;
  margin-radius: 2px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.recentChat:hover {
  background-color: rgb(30, 30, 30);
}

.recentChat img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}
.recentChatRHS {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: left;
}

.recentChatRhsTop {
  position: relative;
  top: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.recentChatRhsBottom {
  position: relative;
  bottom: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.e :hover {
  background-color: gray;
}

/* NOTIFICATION */
/* NOTIFICATION */
/* NOTIFICATION */

.notification-card {
  display: grid;
  place-content: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

/* error page */
.error-page {
  color: #a82973;
  height: calc(100vh - 63px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-texts h2 {
  position: relative;
  color: white;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 15px;
}

.error-texts svg {
  font-size: 100px;
  color: red;
}

.return-home {
  width: 200px;
  height: 40px;
}
/* MESSAGE CARD */

.MessageCard {
  display: flex;
  font-family: sans-serif;
  text-align: center;
}

.day {
  background-color: aliceblue;
  align-items: center;
  cursor: default;
  display: flex;
  font-size: 24px;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.active {
  background-color: teal;
  color: white;
}

/* HOME PAGE */
/* HOME PAGE */
/* HOME PAGE */

.home-page {
  display: grid;
  grid-template-columns: 100px 700px 500px;
  color: white;
}

.feeds-column {
  color: white;
  background-color: black;
  padding: 10px 25px 10px 25px;
}

.post-card {
  display: grid;
  grid-template-columns: 50px 590px;
}

.post-card textarea {
  padding: 10px 10px 80px 10px;
  font-size: 16px;
  color: white;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: black;
}

.post-card button {
  width: 70px;
  height: 30px;
  padding: 5px;
  border-radius: 25px;
  position: relative;
  left: 300px;
  bottom: 7px;
}

.post-card-footer {
  position: relative;
  bottom: 45px;
  padding: 10px 10px 10px 20px;
  display: grid;
  grid-template-columns: 200px 900px;
}

.post-card-icons {
  display: flex;
  flex-direction: horizontal;
  gap: 15px;
}

.post-card {
}
